@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


* {
  margin: 0;
  padding: 0;
}

.footer-style {
  background-color: #000000;
  padding: 25px 0;
}

.footer-style ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-style ul li a{
  color: #fff;
  transition: 0.2s;
  text-decoration: none;
  font-family: 'Kiwi Maru', serif;
}

.footer-style ul li a:hover{
  color: #b8b8b8;
}

.stick {
  color: #aaaaaa;
}

.footer-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
  color: #d3d3d3;
  font-family: 'Rubik', sans-serif;
}

.footer-border {
  border-top: 1px solid #aaaaaa;
  width: 360px;
  position: absolute;
  left: 50%;
  margin: 5px 0;
  transform: translateY(-50%) translateX(-50%);
}